<div xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <barra-menu :aba-selecionada="abaSelecionada" :abas="abasMenu" :selecionar-aba="selecionarAba"></barra-menu>

    <div class="mx-3 tab-content">
        <div v-bind:class="estiloClassesNav('disciplinas')" class="tab-pane fade" id="nav-disciplinas" role="tabpanel"
             aria-labelledby="nav-disciplinas-tab">
            <caixa-de-alerta :alerta-options="alertaOptions"></caixa-de-alerta>
            <grid :lista="disciplinas" :funcao="buscarDisciplinas" :atributos="colunasDisciplinas"
                  :funcao-editar="acessarDisciplina"
                  :funcao-excluir="excluirDisciplina"
                  is-modo-visualizar="true"></grid>
        </div>

        <div v-bind:class="estiloClassesNav('professores')" class="tab-pane fade" id="nav-professores" role="tabpanel"
             aria-labelledby="nav-professores-tab">
            <caixa-de-alerta :alerta-options="alertaOptions"></caixa-de-alerta>
            <grid :lista="professores" :funcao="buscarProfessores" :atributos="colunasProfessores"
                  :funcao-editar="acessarProfessor" :funcao-excluir="excluirProfessor"
                  is-modo-visualizar="true"></grid>
        </div>

        <div v-bind:class="estiloClassesNav('turmas')" class="tab-pane fade" id="nav-turmas" role="tabpanel"
             aria-labelledby="nav-grade-horaria-tab">
            <caixa-de-alerta :alerta-options="alertaOptions"></caixa-de-alerta>
            <grid :lista="turmas" :funcao="buscarTurmas" :atributos="colunasTurmas"
                  :funcao-editar="acessarTurma" :funcao-excluir="excluirTurma"
                  is-modo-visualizar="true"></grid>
        </div>

        <div v-bind:class="estiloClassesNav('gradesHorarias')" class="tab-pane fade" id="nav-grades-horarias"
             role="tabpanel" aria-labelledby="nav-grade-horaria-tab">
            <caixa-de-alerta :alerta-options="alertaOptions"></caixa-de-alerta>
            <grid :lista="gradesHorarias" :funcao="buscarGradeHorarias" :atributos="colunasGradeHorarias"
                  :funcao-editar="acessarGradeHoraria" :funcao-excluir="excluirGradeHoraria"
                  is-modo-visualizar="true" :funcao-importar="importarXLS"></grid>
        </div>
    </div>

    <modal-importar-grade-horaria
            :options="modalImportarOptions"
            :funcao-upload="enviarXls"
            :funcao="finalizarImportacao">
    </modal-importar-grade-horaria>
</div>