<div class="container">
    <botao-voltar :funcao="voltar"></botao-voltar>
    <form action="#" class="caixa g-3 needs-validation mt-3 formulario" novalidate>
        <caixa-de-alerta :alerta-options="alertaOptions"></caixa-de-alerta>
        <titulo titulo="Professor" :objeto="professor" :visualizando="visualizando"></titulo>
        <div class="row">
            <caixa-de-texto v-show="professor.id" label="Código" :valor="professor" campo="id" :visualizando="true">
            </caixa-de-texto>
            <caixa-de-texto label="Nome" :valor="professor" campo="nome" :visualizando="visualizando">
            </caixa-de-texto>
        </div>

        <div class="row">
            <div class="col-12">
                <botao-salvar v-show="!visualizando" :funcao="salvarProfessor"></botao-salvar>
                <botao-cancelar :funcao="voltar"></botao-cancelar>
            </div>
        </div>
    </form>
</div>