<div id="app" class="container">
    <botao-voltar :funcao="voltar"></botao-voltar>
    <form action="#" class="caixa g-3 needs-validation mt-3 formulario" novalidate>
        <caixa-de-alerta :alerta-options="alertaOptions"></caixa-de-alerta>
        <titulo titulo="Turma" :objeto="turma" :visualizando="visualizando"></titulo>
        <div class="row">
            <caixa-de-texto label="Código" :valor="turma" campo="codigo" :visualizando="visualizando">
            </caixa-de-texto>
            <caixa-de-texto label="Nome" :valor="turma" campo="nome" :visualizando="visualizando">
            </caixa-de-texto>
            <div class="col-6">
                <caixa-de-numero label="Semestre" :valor="turma"
                                 campo="semestre" tipo="semestre" :visualizando="visualizando">
                </caixa-de-numero>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <botao-salvar v-show="!visualizando" :funcao="salvarTurma"></botao-salvar>
                <botao-cancelar :funcao="voltar"></botao-cancelar>
            </div>
        </div>
    </form>
</div>