@import "radio-button.css";

.btn-voltar {
    display: grid;
    grid-template-columns: 30px 50px;
    align-items: center;
    font-size: 15px;
    color: #645b5b;
}

.btn-voltar:hover {
    text-decoration: none;
    color: #645b5b;
}

.btn-gerar .btn-success {
    margin-top: 0 !important;
}

.botao-selecionar-arquivo {
    border: 1px solid #80808047;
    border-radius: 5px;
}

.botao-selecionar-arquivo label {
    margin-bottom: 0;
}

.botao-selecionar-arquivo input[type=file] {
    display: none;
}

.modal .botao-principal,
.modal .botao-cancelar {
    margin-top: 0 !important;
}