.caixa-de-numero {
    width: calc(100% - 25px);
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.caixa-de-numero input {
    font-size: 13px;
}

.caixa-de-texto {
    width: calc(100% - 25px);
    margin-left: auto;
    margin-right: auto;
}
