@import "input.css";
@import "menu.css";
@import "grid.css";
@import "modal.css";
@import "caixa.css";
@import "alerta.css";
@import "titulo.css";
@import "buttons.css";
@import "paginacao.css";
@import "multi-select.css";

body {
    margin: 0;
    background-color: #a3a3a324 !important
}

.container {
    max-width: 100%;
}

.placeholder {
    color: #645b5b;
}

.naoSelecionavel, .placeholder, .modal-title, .nav-link, .grid tr, .grid td {
    -webkit-touch-callout: none; /* iPhone OS, Safari */
    -webkit-user-select: none; /* Chrome, Safari 3 */
    -khtml-user-select: none; /* Safari 2 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none; /* Possível implementação no futuro */
    /* cursor: default; */
}