<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disciplinas CPCX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app">
    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-disciplinas-tab" data-toggle="tab" href="#nav-disciplinas" role="tab"
               aria-controls="nav-home" aria-selected="true">Disciplinas</a>
            <a class="nav-link" id="nav-grade-professores" data-toggle="tab" href="#nav-professores" role="tab"
               aria-controls="nav-profile" aria-selected="false">Professores</a>
            <a class="nav-link" id="nav-grades-horarias-tab" data-toggle="tab" href="#nav-grades-horarias" role="tab"
               aria-controls="nav-profile" aria-selected="false">Grades Horárias</a>
            <a class="nav-link" id="nav-grade-horaria-atual-tab" data-toggle="tab" href="#nav-grade-horaria-atual"
               role="tab"
               aria-controls="nav-profile" aria-selected="false">Grade Horária Atual</a>
        </div>
    </nav>

    <div class="mx-5 tab-content">
        <div class="tab-pane fade show active" id="nav-disciplinas" role="tabpanel"
             aria-labelledby="nav-disciplinas-tab">
            <form class="py-5">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="qtd">Quantidade:</label>
                            <input id="qtd" class="form-control" type="text" v-model="resultados.quantidade" readonly>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Carga:</label>
                            <input class="form-control" type="text" v-model="resultados.carga" readonly>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Porcentagem:</label>
                            <input class="form-control" type="text" v-model="resultados.porcentagem" readonly>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>C.H. UFMS:</label>
                            <input class="form-control" type="text" v-model="resultados.ch_ufms" readonly>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Carga Horaria Optativa:</label>
                            <input class="form-control" type="text" v-model="resultados.carga_horaria_optativa"
                                   readonly>
                        </div>
                    </div>
                </div>
            </form>

            <div class="table-responsive-xl">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>C.H.</th>
                    </tr>
                    <tr v-for="(disciplina,index) in disciplinas">
                        <td>{{index + 1}}</td>
                        <td>{{disciplina.codigo}}</td>
                        <td>{{disciplina.nome}}</td>
                        <td>{{disciplina.cargaHoraria}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-professores" role="tabpanel"
             aria-labelledby="nav-professores-tab">

            <div class="table-responsive-xl mt-5">
                <table v-show="professores.length" class="table table-bordered table-striped">
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                    <tr v-for="(professor,index) in professores">
                        <td>{{index + 1}}</td>
                        <td>{{professor.id}}</td>
                        <td>{{professor.nome}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab-pane fade pt-5" id="nav-grades-horarias" role="tabpanel"
             aria-labelledby="nav-grade-horaria-tab">

            <button class="btn btn-primary float-right mb-2">Novo</button>

            <div class="table-responsive-xl mt-5">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Ano/Semestre</th>
                        <th>Ação</th>
                    </tr>
                    <tr v-for="(gradeHoraria,index) in gradesHorarias">
                        <td>{{gradeHoraria.ano}}.{{gradeHoraria.semestreAno | filtroSemestre}}</td>
                        <td><a class="btn btn-primary" v-bind:href="'./edicaoGradeHoraria.html?idGradeHoraria='+gradeHoraria.id"><i class="material-icons">edit</i></a></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-grade-horaria-atual" role="tabpanel"
             aria-labelledby="nav-grade-horaria-tab">

            <div class="table-responsive-xl mt-5">
                <table v-show="professores.length" class="table table-bordered table-striped">
                    <tr>
                        <th>#</th>
                        <th>Segunda Feira</th>
                        <th>Terça Feira</th>
                        <th>Quarta Feira</th>
                        <th>Quinta Feira</th>
                        <th>Sexta Feira</th>
                        <th>Sábado</th>
                    </tr>
                    <tr>
                        <th>2° Semestre</th>
                        <td>
                            <b>Tópicos em Programação <br> (0803.000.198-1)</b><br>
                            <span>{{professores[2].nome}}</span>
                        </td>
                        <td>
                            <b>Algoritmos e Programação II <br>(0803.000.084-5)</b><br>
                            <span>{{professores[7].nome}}</span>
                        </td>
                        <td>
                            <b>Introdução a Administração <br>(0803.000.204-4)</b><br>
                            <span>{{professores[3].nome}}</span>
                        </td>
                        <td>
                            <b>Pré Cálculo <br>(0803.000.205-8)</b><br>
                            <span>{{professores[2].nome}}</span>
                        </td>
                        <td>
                            <b>Algoritmos e Programação II <br>(0803.000.084-5)</b><br>
                            <span>{{professores[7].nome}}</span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>4° Semestre</th>
                        <td>
                            <b>Banco de Dados I <br> (0803.000.137-0)</b><br>
                            <span>{{professores[7].nome}}</span>
                        </td>
                        <td>
                            <b>Análise e Projeto de Software Orientado a Objetos I <br>(0803.000.161-2)</b><br>
                            <span>{{professores[1].nome}}</span>
                        </td>
                        <td>
                            <b>Sistemas Operacionais <br>(0803.000.140-0)</b><br>
                            <span>{{professores[9].nome}}</span>
                        </td>
                        <td>
                            <b>Estrutura de Dados II <br>(0803.000.175-2)</b><br>
                            <span>{{professores[2].nome}}</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>6° Semestre</th>
                        <td>
                            <b>Engenharia e Programação WEB II <br> (0803.000.165-5)</b><br>
                            <span>{{professores[9].nome}}</span>
                        </td>
                        <td>
                            <b>Gestão de Projetos I <br>(0803.000.160-4)</b><br>
                            <span>{{professores[9].nome}}</span>
                        </td>
                        <td>
                            <b>Metodologia Científica <br>(0803.000.207-4)</b><br>
                            <span>{{professores[0].nome}}</span>
                        </td>
                        <td>
                            <b>Inteligência Artificial <br>(0803.000.139-6)</b><br>
                            <span>{{professores[1].nome}}</span>
                        </td>
                        <td>
                            <b>Sistemas Distribuídos <br>(0803.000.149-3)</b><br>
                            <span>{{professores[0].nome}}</span>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>8° Semestre</th>
                        <td>
                            <b>Comportamento Organizacional <br> (0803.000.209-0)</b><br>
                            <span>{{professores[8].nome}}</span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <b>Empreendedorismo <br>(0803.000.210-4)</b><br>
                            <span>{{professores[3].nome}}</span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
</body>

<script>
    let URL_API = "http://localhost:8080/api";

    var app = new Vue({
        el: '#app',
        data: {
            disciplinas: [],
            professores: [],
            gradesHorarias: [],
            resultados: {
                carga: 0,
                ch_ufms: 3000,
                carga_horaria_optativa: 238
            }
        }, created() {
            let self = this;
            axios.get(URL_API + '/disciplina').then(response => this.processarDisciplinas(response.data));
            axios.get(URL_API + '/professor').then(response => this.professores = response.data);
            axios.get(URL_API + '/gradeHoraria').then(response => this.gradesHorarias = response.data);
        },
        methods: {
            processarDisciplinas(disciplinas) {
                this.disciplinas = disciplinas;

                this.resultados.quantidade = this.disciplinas.length;

                let self = this;
                this.disciplinas.forEach(disciplina => {
                    self.resultados.carga += disciplina.cargaHoraria;
                })

                self.resultados.porcentagem = parseFloat(self.resultados.carga) / parseFloat(self.resultados.ch_ufms) * 100;
            }
        },
        filters: {
            filtroSemestre(enumSemestre) {
                let semestres = [
                    {chave: 'PRIMEIRO_SEMESTRE', valor: 1},
                    {chave: 'SEGUNDO_SEMESTRE', valor: 2}
                ];

                return enumSemestre ? semestres.filter(semestre=> semestre.chave === enumSemestre)[0].valor : '';
            }
        }
    })
</script>
</html>