.modal-importar-grade-horaria .form-label,
.modal-importar-grade-horaria .form-control {
    font-size: 13px;
}

.modal-importar-grade-horaria .titulo-secundario {
    width: calc(100% - 25px);
    margin-left: auto;
    margin-right: auto;
}

.modal-importar-grade-horaria .select .label {
    margin-top: 10px;
}